<div class="search-form">
    <form method="POST" action="search">
        <div class="form-group">
            <label for="floatingInput">Tìm Kiếm</label>
            <input type="text" name="q" class="form-control" id="floatingInput" placeholder="Nhập từ khóa">
        </div>
       <button class="btn btn-primary" type="submit">Tìm Kiếm</button>
    </form>
</div>